a, a:hover {
  color: #333;
}
#hd a, #hd a:visited {
  color: #333;
  text-decoration: none;
}

#hd a:hover {
  text-decoration: underline;
}

div#mesh_tree_list > ul {
  margin-top: 1em;
}
#mesh_tree_list ul {
  margin: 0 0 0 1.5em;
}

.highlight {
  background-color: #cef;
}